@import "tailwindcss";

.clip-ribbon {
  clip-path: polygon(0% 50%, 5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%);
}




@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.font-marcellus {
  font-family: 'Marcellus', serif;
}



